.message-list-item{
    height: 60px;
    font-size: 1rem !important;
    font-weight: normal !important;
    line-height: 0 !important;
}

.message-list-item svg{
	width: 20px !important;
	height: 20px !important;
    top: 10px !important;
    margin: 0 35px 0 0 !important;
}

.message-list-item div{
    margin-left: 8px !important;
    padding-top: 10px !important;
    padding-left: 26px !important;
}