.select-field svg{
	width: 80px !important;
	height: 80px !important;
	fill: #000 !important;
	position: relative;
    bottom: 30px;
    right: 40px;
}

.bottom-navigation-item{
	width: 33.3%;
	max-width: none !important;
}

.bottom-navigation-item svg{
    height: 60px !important;
}

.bottom-navigation-item div{
    font-size: 30px !important;
}

.home-portrait{
  	width: 200px;
  	height: 200px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	box-shadow: 5px 5px 10px #aaa;
	-moz-box-shadow: 5px 5px 10px #aaa; 
	-webkit-box-shadow:  5px 5px 10px #aaa;
	margin: 20px;
}

.home-name{
	font-size: 50px;
    padding: 40px 0 10px 0;
}

.home-username{
	font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
	margin-bottom: 50px;
}

.list-item svg{
	width: 50px !important;
	height: 50px !important;
	top: 40px !important;
    margin-right: 90px !important;
}

.list-item div{
    margin-left: 80px;
}

.clearfix:after{
    content: "";
    display: block;
	clear: both;
}

.home-img-left{
	float: left;
	margin-right: 30px;
}