.home-list-item{
    height: 60px;
    font-size: 1rem !important;
    font-weight: normal !important;
    line-height: 0 !important;
}

.home-list-item svg{
	width: 20px !important;
	height: 20px !important;
    top: 10px !important;
    margin: 0 35px 0 0 !important;
}

.home-list-item div{
    margin-left: 8px !important;
    padding-top: 10px !important;
    padding-left: 26px !important;
}

.bottom-navigation-item{
    width: 33.3%;
    max-width: none !important;
}

.bottom-navigation-item svg{
    height: 25px !important;
}

.bottom-navigation-item div{
    font-size: 0.8rem !important;
}

.home-portrait{
  	width: 90px;
  	height: 90px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: 2px 2px 1px #aaa;
	-moz-box-shadow: 2px 2px 1px #aaa; 
	-webkit-box-shadow:  2px 2px 1px #aaa;
	margin: 15px 15px 0 15px;
}

.home-name{
	font-size: 1.2rem;
    padding: 40px 0 3px 0;
}

.home-username{
	font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.clearfix:after{
    content: "";
    display: block;
	clear: both;
}

.home-img-left{
	float: left;
}