.center-navbar-title{
    font-size: 1.4rem;
    font-weight: normal;
    vertical-align: middle;
}

.list-item svg{
	width: 20px !important;
	height: 20px !important;
    top: 10px !important;
    margin: 0 !important;
}

.list-item div{
    margin-left: 10px;
    padding-top: 3px !important;
    padding-left: 28px !important;
}

.terminal-type{
	margin: 15px 0;
}

.terminal-type p{
	font-size: 1rem;
    margin: 0 auto;
    color: #4642B6;
    width: 100%;
    text-align: center;
}

.user-name{
	font-size: 1rem;
    float: right;
    position: relative;
    bottom: 48.5px;
    right: 45px;
}

.bottom-navigation-item{
    width: 33.3%;
    max-width: none !important;
}

.bottom-navigation-item svg{
    height: 25px !important;
}

.bottom-navigation-item div{
    font-size: 0.8rem !important;
}

.equipmentList{
    height: 80%;
    overflow: auto;
}

.add-equipment-btn{
    width: 60px !important;
    height: 60px !important;
    padding: 0 !important;
    margin-top: -4px !important;
}

.add-equipment{
    width: 30px !important;
    height: 30px !important;
    padding: 12px;
}

.empyt-list{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.92rem;
    margin: 20px 0;
    text-align: center;
}