.list-item svg{
	width: 50px !important;
	height: 50px !important;
	top: 40px !important;
}

.list-item div{
    margin-left: 80px;
}

.terminal-type{
	margin: 30px 0;
}

.terminal-type p{
	font-size: 35px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    width: 80%;
    text-align: center;
}

.user-name{
	font-size: 40px;
    float: right;
    position: relative;
    bottom: 102px;
    right: 120px;
}

.bottom-navigation-item{
    width: 33.3%;
    max-width: none !important;
}

.bottom-navigation-item svg{
    height: 60px !important;
}

.bottom-navigation-item div{
    font-size: 30px !important;
}

.equipmentList{
    height: 80%;
    overflow: auto;
}

.add-equipment-btn{
    width: 140px !important;
    height: 155px !important;
}

.add-equipment{
    width: 70px !important;
    height: 70px !important;
    padding: 32px;
}
