.equipment-list-right{
    color:#4642B6;
    font-size: 36px;
    float: right;
    position: relative;
    bottom: 102px;
    right: 150px;
}

.equipment-list-left div{
    margin-left: 80px;
    color: rgba(0,0,0,0.5);
}