.navbar-title{
	font-size: 1.2rem;
	line-height: 69px;
    font-weight: normal;
}

.app-bar{
	height: 10%;
	background: #4642B6 !important;
}

.navigation-arrow-back{
	width: 25px !important;
	height: 25px !important;
}

.navigation-btn{
	width: 40px !important;
	height: 45px !important;
	top: 2px;
}

.app-bar div{
	overflow: visible !important;
}