.dialog-content{
	width: 280px !important;
}

.dialog-content h3{
	font-size: 1.3rem !important;
    width: 100%;
    display: inline-block;
	text-align: center;
    padding: 6px 0 0 0 !important;
    margin: 20px 0 0 0 !important;
}

.dialog-actionsContainer span{
	font-size: 1.1rem !important;
	display: inline-block;
    margin: 0 10px 20px 0;
}