.dialog-content{
	width: 600px !important;
}

.dialog-content h3{
	font-size: 45px !important;
    width: 100%;
    display: inline-block;
	text-align: center;
    padding: 24px 0 !important;
    margin: 60px 0 !important;
}

.dialog-actionsContainer span{
	font-size: 35px !important;
	display: inline-block;
    margin: 0 50px 100px 0;
}