.login-header{
	background-color: #4642B6;
	height: 15%;
}

.login-title{
	width: 100%;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 24px;
    text-align: center;
    display: inline-block;
}

.login-portrait{
  	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
	border-radius: 300px;
	-moz-border-radius: 300px;
	-webkit-border-radius: 300px;
	box-shadow: 2px 2px 1px #aaa;
	-moz-box-shadow: 2px 2px 1px #aaa; 
	-webkit-box-shadow:  2px 2px 1px #aaa;
}

.login-img{
	width: 100%;
	margin: 25px auto;
}

.login-input div{
    bottom: 40px !important;
}

.login-input label{
	top: 18px !important;
    line-height: 0px !important;
	font-size: 1rem !important;
}

.login-input input{
    margin-top: 0 !important;
}






